.homeLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
}

.contentHome {
  display: flex;
  padding-inline: 2rem;
  gap: 2rem;
}

.contentTextHome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 2;
}

.contentTextHome a {
  align-self: center;
}

.inlineText {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: left;
}

.sideContentTextHome {
  align-self: center;
}

.contentIconHome {
  font-size: 5rem;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: -7px -7px 48px rgba(0, 0, 0, 0.8) inset, 2px 2px 6px rgba(255, 255, 255, 0.8) inset;
  background: -webkit-radial-gradient(top left, white 13%, #85e9f2, #1caaba, #00393f 80%, #026f7b);
  height: fit-content;
  border-radius: 50%;
  align-self: center;
  padding: 1rem;
  animation: upAndDown 1s linear alternate infinite;
}

@keyframes upAndDown {
  0% {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }

  100% {
    -webkit-transform: translateY(75%);
    transform: translateY(75%);
  }
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ====================== */

@media screen and (max-width: 1024px) {}

/* ============ MEDIA QUERIES (SMALL DEVICES) ====================== */

@media screen and (max-width: 680px) {

  .inlineText {
    justify-content: center;
    /* gap: 0; */
  }

  .inlineText:nth-child(1) {
    margin: 1.5rem 0 0.5rem 0;
  }

  .sideContentTextHome>h2 {
    display: none;
  }

  .sideContentTextHome {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .contentIconHome {
    font-size: 2rem;
  }
}