.cardContainer {
  padding: 3px;
  border-radius: 1rem;
  overflow: visible;
  background: var(--color-border-card);
  position: relative;
  z-index: 1;
  transition: ease-in-out;
  transition-duration: 0.2s;
  text-decoration: none;
  overflow: hidden;
}

.interior {
  padding: 0.15rem;
  background: var(--color-card);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 1rem;
  justify-content: space-between;
  overflow: hidden;
}

.cardContainer:hover {
  box-shadow: 10px 0px 50px -20px #f7ba2b, -10px 0px 50px -20px #ea5358;
}

.cardImage {
  height: 200px;
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  mask-image: linear-gradient(270deg, #000 95%, transparent), linear-gradient(90deg, #000 95%, transparent), linear-gradient(180deg, #000 85%, transparent);
  -webkit-mask-image: linear-gradient(270deg, #000 95%, transparent), linear-gradient(90deg, #000 95%, transparent), linear-gradient(180deg, #000 85%, transparent);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  transition: transform 0.2s linear;
}

.cardContainer:hover .cardImage {
  transform: scale(1.05);
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.cardContainer h3 {
  margin: 1.2rem 0 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.cardContainer p {
  margin: 1.2rem 0 1rem;
}

.portfolioItemCta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* =================== SKILL CARD =================== */

/* .experienceDetails {
  display: flex;
  gap: 1rem;
  color: var(--color-text-default)
}

.experienceDetail-icon {
  margin-top: 6px;
  color: var(--color-primary-variant);
}

.personalIcon {
  background: white;
} */

@media screen and (max-width: 680px) {
  .mainWord {
    font-size: 15vw;
  }

  .neon {
    font-size: 8vw;
  }
}