.skillCardContainer {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.skillCardIcon {
	font-size: 5vw;
	line-height: 0;
	color: var(--color-text-default)
}

.skillCardContainer span {
	font-size: 1vw;
	line-height: 0;
	text-wrap: wrap;
	color: var(--color-text-default)
}

@media screen and (max-width: 680px) {
	.skillCardIcon {
		font-size: 10vw;
	}

	.skillCardContainer span {
		font-size: 2vw;
	}
}