.contactContainerForm {
  text-align: initial;
  display: flex;
  justify-content: center;
}

.contactSocials {
  display: flex;
  border: 1px solid red;
  width: 50vw;
  height: 10vh;
}

.contact__option {
  text-decoration: none;
  color: var(--color-text-default);
  font-size: 1rem;
  margin: 1.2rem auto;
  border-radius: 2rem;
  text-align: center;
  display: inline-block;
  transition: var(--transition);
}

.contact__option:hover {
  transform: scale(1.2);
}

.contact__option-icon {
  font-size: 1.5rem;
}