.anchor {
  position: relative;
  display: inline-flex;
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text-default);
  /* font-size: 1.1rem; */
  transition: transform 0.25s linear, background-color 0.25s linear, border-radius 0.25s linear;
}

.active {
  border-radius: 50%;
  background: -webkit-radial-gradient(top left, var(--color-esphere-gray));
  transform: scale(1.5) translate(0, -25%);
}

.active .spanHidden {
  visibility: visible;
  opacity: 1;
}

/* Estilos para el span oculto */
.spanHidden {
  text-transform: capitalize;
  border: 1px solid var(--color-text-default);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-card);
  color: var(--color-white);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.5rem;
  text-align: center;
  transition: visibility 0.25s, opacity 0.25s linear;
  text-wrap: nowrap;
}

/* Al hacer hover sobre .anchor, muestra el span */

@media (hover: hover) {
  .anchor:hover {
    border-radius: 50%;
    background: -webkit-radial-gradient(top left, var(--color-esphere-gray));
    transform: scale(1.5) translate(0, -25%);
  }

  .anchor:hover .spanHidden {
    visibility: visible;
    opacity: 1;
  }

}