nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.8rem;
  width: 40%;
  height: 4rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  border: solid white 1px;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  z-index: 2;
  transition: all 1s ease;
}

.hideNavBar{
    transform: translateX(-50%) translateY(100px); /* Mueve fuera de la vista */
  opacity: 0; /* Transparente */
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
  }
}
